<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
	<head>
		<title>Dominik Bruehl</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
	</head>
	<body>
		<h1>Impressum</h1>
		<h3>Die Angaben des Impressums nach dem §5 des TMG:</h3>
		</br>
		<h3>Kontaktdaten des Betreibers: </h3>
		</br>
		<p> Dominik Bruehl </p>
		<p> Am Mühlacker 8</p>
		<p> 36304 Alsfeld</p>
		</br>
		<p>E-Mail: dominik.bruehl@mni.thm.de</p>
		<script src="http://code.jquery.com/jquery.js"></script>
	</body>
</html>