<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
	<head>
		<title>Marius' BereichImpressum</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link href='indexstyle.css' rel='stylesheet' type='text/css'/>		
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de">
	</head>
	<body>
		<a href = "javascript:history.back()">Zurück</a>
		<h1>Marius' Bereich</h1>
		<h2>Impressum</h2>
		<h3>Die Angaben des Impressums nach dem §5 des TMG:</h3>
		</br>
		<h3>Meine Kontaktdaten: </h3>
		</br>
		<p> Marius Schneider </p>
		<p> Aartalstraße 1a</p>
		<p> 35644 Hohenahr</p>
		</br>
		<p>E-Mail: marius.schneider@mni.thm.de</p>
	</body>
</html>